<div class="footer">
    <div class="content">
        <div class="footer-contact">
            <div class="contact-info">
                <ul class="footer-content">
                    <li>

                        <a href="https://www.instagram.com" class="footer-link"> <img class="footer-logos" src="\images\black-instagram-icon.svg"></a> 
                    </li>
                    <li>
                        <a href="https://linkedin.com" class="footer-link"><img class="footer-logos" src="\images\ico_linkedIn.svg"></a>
                    </li>
                </ul>
            </div>
        </div>
        <nav class="footer-nav">
            <ul class="footer-content">
                <li>
                    <a href="/" class="footer-link"> Home</a>
                </li>
                <li>
                    <a href="/Blogs" class="footer-link"> Blogs</a>
                </li>
                <li>
                    <a href="/places" class="footer-link">Places </a>
                </li>
            </ul>
        </nav>
    </div>

</div>