  <div class="full-header">
    <div class="headers">
        <header class="desktop-header" aria-label="Desktop Header">
            <div class="logo">
                <a href ="/"><img src="\images\dytravels_logoedit.svg"></a>
                </div>
            <nav class="main-nav navbar">
                <button class="hamburger" onclick="toggleMenu()">
                    &#9776;
                  </button>
                  <div class="nav-links" id="navLinks">
                    <button class="close-btn" onclick="toggleMenu()">&times;</button>
                <ul>
                    <li class="nav-item">
                        <a href="/" class="nav-header">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/blogs" class="nav-header">
                            All Blogs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/places" class="nav-header">
                            Places
                        </a>
                    </li>
                    <!-- Additional common navigation items -->
                    <% if (userLoggedIn) { %>
                        <li class="nav-item">
                            <a href="/blogs/create" class="nav-header">
                                Create Blog
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/blogs/myblogs" class="nav-header">
                                My Blogs
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/users/logout" class="nav-header">
                                Logout
                            </a>
                        </li>
                      <% } else { %>
                        <li class="nav-item">
                            <a href="/login" class="nav-header">
                                Login
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/sign-up" class="nav-header">
                                Register
                            </a>
                        </li>
                      <% } %>
                      <li class="nav-item">
                        <a href="/about" class="nav-header">
                            About
                        </a>
                    </li>
                  </ul>
                </div>
            </nav>
        </header>
    </div>
</div>
