<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create a New Blog Entry</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/5.0.0/imagesloaded.pkgd.min.js" integrity="sha512-kfs3Dt9u9YcOiIt4rNcPUzdyNNO9sVGQPiZsub7ywg6lRW5KuK1m145ImrFHe3LMWXHndoKo2YRXWy8rnOcSKg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <%- include ('partials/navbar.ejs') %>
    <div class="internal-hero-container gradient">
      <div class="content">
          <h1 class="internal-title">
              Create Your Blog
          </h1>
          <div class="internal-sub">Share your own stories with the community.</div>
      </div>
  </div>
    <div class="internal-container">

    <div class="blog-input-container">
       
        <form id="blogForm" action="/blogs/create" method="POST" enctype="multipart/form-data">
          <label for="Blog_Title">Blog Title:</label>
          <input type="text" id="blog-title" name="title" required>

          <label for="Is_Video_Blog">Is this a video blog?</label>
          <input type="checkbox" id="is-video-blog" name="isVideoBlog" onclick="toggleVideoInput()">
          <div id="detailsInput">
          <label for="Blog_Details">Blog Details:</label>
          <textarea id="blog-details" name="details" rows="4"></textarea>
          </div>
          <div id="videoInput" style="display: none;">
            <label for="videoFile">Upload Video File:</label>
            <input type="file" id="videoFile" name="videoFile" accept="video/*">
          </div>
    
          <label for="blogImage">Upload Blog Image:</label>
          <input type="file" id="blogImage" name="blogImage" accept="image/*" required>

           <!-- Location_Place Input -->
  <label for="locationPlace">Location:</label>
  <input type="text" id="locationPlace" name="locationPlace" autocomplete="off" required>
  <ul id="autocomplete-list" class="autocomplete-items"></ul>


           <!-- Location_Place Input1
          <label for="locationPlace">Location:</label>
          <input type="text" id="search-key" name="locationPlace" autocomplete="off" required>
          <div class="search-dropdown">

          </div>
          <div class="search-results">
            <div class="result-name-spot">
                <h2 id="result-name">

                </h2>
            </div>
            <div class="result-image-spot">
               
            </div>
            <div class="result-familiarity-spot">
                
            </div>
        </div> -->

          <button type="submit">Create Blog</button>
        </form>
      </div>
    </div>
      <%- include ('partials/footer.ejs') %>
      
      <script>
        function toggleVideoInput() {
          const videoInput = document.getElementById('videoInput');
          const isVideoBlog = document.getElementById('is-video-blog').checked;
          if (isVideoBlog) {
            videoInput.style.display = 'block';
          } else {
            videoInput.style.display = 'none';
          }
        }
      </script>
      <script type="module" src="/module/navlogic.js"></script>

      <script type="module" src="/module/bloginput.js"></script>
      <script type="module" src="/module/autocomplete.js"></script>
</body>
</html>
